<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="utf-8" />
    <title>Stemmeberettiget?</title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/stemmeberettigelse/main.css" />
</head>
<body>
	<h2>Sjekk stemmeberettigelse ved valg</h2>
    <form method="GET" action="./">
        <table>
            <tr>
                <td>
                    Brukernavn:
                </td>
                <td>
                    <input type="text" name="user" value="{{ uname }}" />
                </td>
            </tr>
            <tr>
                <td>
                    Valg:
                </td>
                <td>
                    {{ event_name }}
                </td>
            </tr>
        </table>
        <input type="submit" value="Sjekk" />
    </form>
    {{ results | safe }}

    <div id="footer">
        Dette verktøyet er skrevet av <a href="//no.wikipedia.org/wiki/Bruker:Danmichaelo">Danmichaelo</a> og basert på ideer fra <a href="//toolserver.org/~pathoschild/accounteligibility/">AccountEligibility</a>. Kildekoden er <a href="https://github.com/danmichaelo/stemmeberettigelse">åpen</a> og <a href="http://unlicense.org/">offentlig eiendom</a> (PD).
    </div>
</body>
</html>
